---
---

/*
gem install bootstrap-sass -v 3.3.7
curl -o _sass/_bootstrap-custom.scss https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/_bootstrap.scss # https://github.com/twbs/bootstrap-sass#sass
*/
@import 'bootstrap-custom';

/*
gem install rouge
rougify style github > _sass/syntax.css
*/
@import "rouge";

/*
wget https://github.com/primer/primer-css/archive/master.zip
unzip master.zip
cd primer-css-master
npm install --save primer-css
cp node_modules/primer-css/build.css _sass/
*/
@import "build";

/* position title above TOC if small screen */
/* TODO: use Sass to figure out 768px via variable */
@media (max-width: 768px) {
    .std-nav {
        display: none;
    }
}
@media (min-width: 768px) {
    .col-sm-3 h1 {
        white-space: nowrap; /* confine to one line so title doesn't invisibly wrap */
        visibility: hidden; /* hide title above TOC but preserve its height */
    }
    .mobile-nav {
        display: none;
    }
}
.col-sm-12 nav + h1[id] {
    display: none;
}

/* position anchors below navbar-fixed-top */
/* https://github.com/twbs/bootstrap/issues/1768#issuecomment-46519033 */
*[id]:before {
  content: " ";
  display: block;
  margin-top: -74px;
  height: 74px; /* TODO: base 50px + 24px on variables */
  visibility: hidden;
}

.active {
    color: #420909;
}

/* position columns below navbar-fixed-top */
/* http://getbootstrap.com/components/#navbar-fixed-top */
.col-sm-12 {
    padding-top: 50px;
}

/* stylize nav */
.nav {
    overflow-y: none;

    li {
        list-style: none;
        list-style-type: none;
    }
}

/* prevent word breaks */
.markdown-body {
    word-wrap: normal;
}

.std-nav {
    position: fixed;
}

a {
  color: #AA4444;
}

a:hover {
  color: #420909;
}

/* constrain to viewport */
iframe, img {
    max-width: 100%;
}
