---
layout: default
---

<div class="col-sm-3">
    <div class="std-nav nav">
        <h2>Table of Contents</h2>
        <b>Overview</b>
        <li><a href="{{ site.baseurl }}/day0" {% if page.url == "/day0/" %} class="active" {% endif %}> Day 0 Guide </a></li>
        <li><a href="{{ site.baseurl }}/insights" {% if page.url == "/insights/" or page.layout == "post" %} class="active" {% endif %}> Teacher Insights </a></li>
        <b>Organizing The Course</b>
        <li><a href="{{ site.baseurl }}/classroom" {% if page.url == "/classroom/" %} class="active" {% endif %}> CS50 AP Classroom Setup </a></li>
        <li><a href="{{ site.baseurl }}/workshop" {% if page.url == "/workshop/" %} class="active" {% endif %}> CS50 AP Workshop 2017 </a></li>
        <li><a href="{{ site.baseurl }}/finalproject" {% if page.url == "/finalproject/" %} class="active" {% endif %}> CS50 Final Project </a></li>
        <li><a href="{{ site.baseurl }}/custom" {% if page.url == "/custom/" %} class="active" {% endif %}> Creating Custom Problems </a></li>
        <li><a href="{{ site.baseurl }}/curriculum" {% if page.url == "/curriculum/" %} class="active" {% endif %}> Curriculum Overview </a></li>
        <li><a href="{{ site.baseurl }}/events" {% if page.url == "/events/" %} class="active" {% endif %}> Events and Culture </a></li>
        <li><a href="{{ site.baseurl }}/grading" {% if page.url == "/grading/" %} class="active" {% endif %}> Grading </a></li>
        <b>College Board</b>
        <li><a href="{{ site.baseurl }}/apcsp" {% if page.url == "/apcsp/" %} class="active" {% endif %}> AP CSP </a></li>
        <b>Resources</b>
        <li><a href="{{ site.baseurl }}/resources" {% if page.url == "/resources/" %} class="active" {% endif %}> Resource Reference Sheets </a></li>
        <b>External Links</b>
        <li><a href="https://manual.cs50.net/" target="blank"> CS50 Programmer's Manual </a></li>
        <li><a href="https://ap.cs50.net/" target="blank"> CS50 AP Portal </a></li>
        <li><a href="https://quizbank.cs50.net/" target="blank"> CS50 Quiz Bank </a></li>
    </div>
</div>
<div class="mobile-nav nav">
    <div class="container-fluid">
    <h2>Table of Contents</h2>
    <b>Overview</b>
    <li><a href="{{ site.baseurl }}/day0" {% if page.url == "/day0/" %} class="active" {% endif %}> Day 0 Guide </a></li>
    <li><a href="{{ site.baseurl }}/insights" {% if page.url == "/insights/" or page.layout == "post" %} class="active" {% endif %}> Teacher Insights </a></li>
    <b>Organizing The Course</b>
    <li><a href="{{ site.baseurl }}/classroom" {% if page.url == "/classroom/" %} class="active" {% endif %}> CS50 AP Classroom Setup </a></li>
    <li><a href="{{ site.baseurl }}/workshop" {% if page.url == "/workshop/" %} class="active" {% endif %}> CS50 AP Workshop 2017 </a></li>
    <li><a href="{{ site.baseurl }}/finalproject" {% if page.url == "/finalproject/" %} class="active" {% endif %}> CS50 Final Project </a></li>
    <li><a href="{{ site.baseurl }}/custom" {% if page.url == "/custom/" %} class="active" {% endif %}> Creating Custom Problems </a></li>
    <li><a href="{{ site.baseurl }}/curriculum" {% if page.url == "/curriculum/" %} class="active" {% endif %}> Curriculum Overview </a></li>
    <li><a href="{{ site.baseurl }}/events" {% if page.url == "/events/" %} class="active" {% endif %}> Events and Culture </a></li>
    <li><a href="{{ site.baseurl }}/grading" {% if page.url == "/grading/" %} class="active" {% endif %}> Grading </a></li>
    <b>College Board</b>
    <li><a href="{{ site.baseurl }}/apcsp" {% if page.url == "/apcsp/" %} class="active" {% endif %}> AP CSP </a></li>
    <b>Resources</b>
    <li><a href="{{ site.baseurl }}/resources" {% if page.url == "/resources/" %} class="active" {% endif %}> Resource Reference Sheets </a></li>
    <b>External Links</b>
    <li><a href="https://manual.cs50.net/" target="blank"> CS50 Programmer's Manual </a></li>
    <li><a href="https://ap.cs50.net/" target="blank"> CS50 AP Portal </a></li>
    <li><a href="https://quizbank.cs50.net/" target="blank"> CS50 Quiz Bank </a></li>
    </div>
</div>
<div class="col-sm-9">
    {{content}}
</div>
